<launch>
  <arg name="use_recovery_behaviors" default="true"/>
  
  <arg name="egocircle" default="false"/>
  
  <arg name="converter" default="false" if="$(arg egocircle)"/>
  <arg name="converter" default="true" unless="$(arg egocircle)"/>
  
  <arg name="simple_exploration" default="false"/>

  <arg name="vel_topic" default="/robot0/cmd_vel"/>
  
  <!--<include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>-->

  <node name="egocircle_node" pkg="egocircle" type="ego_circle" if="$(arg egocircle)"/>
  
  <arg name="global_planning_freq" default="$(optenv GM_PARAM_GLOBAL_PLANNING_FREQ 1)"/>
  <arg name="controller_freq" default="$(optenv GM_PARAM_CONTROLLER_FREQ 5)"/>

  <arg name="debug" default="false"/>

  <arg name="debug_prefix" value="" unless="$(arg debug)"/> <!-- valgrind - -tool=callgrind -->
  <arg name="debug_prefix" value="xterm -e gdb -ex run --args" if="$(arg debug)"/>

  <!-- xterm -e gdb -ex run - -args -->
  
  
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find nav_configs)/config/custom_teb_rosconsole.conf"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="$(arg debug_prefix)">
      <rosparam file="$(find potential_gap)/config/common_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find potential_gap)/config/common_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find potential_gap)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find potential_gap)/config/global_costmap_params.yaml" command="load"/>

      <rosparam file="$(find nav_configs)/config/local_planner_common_params.yaml" command="load" ns="TebLocalPlannerROS"/>
      <rosparam file="$(find nav_configs)/config/move_base_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>

      <param name="recovery_behavior_enabled" value="false" unless="$(arg use_recovery_behaviors)"/>

      <param name="controller_frequency" value="$(arg controller_freq)" />
      <param name="planner_frequency" value="$(arg global_planning_freq)"/>

      <!--<remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>-->
      <remap from="cmd_vel" to="$(arg vel_topic)"/>


      <!-- Approach-specific parameters/remappings/etc -->
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

      <rosparam file="$(find potential_gap)/config/teb_local_planner_holonomic_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/teb_costmap_converter_params.yaml" command="load" if="$(arg converter)"/>

      <param name="TebLocalPlannerROS/include_costmap_obstacles" value="false" if="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/include_egocircle_obstacles" value="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/gap_h_signature" value="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/gap_exploration" value="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/egocircle_feasibility" value="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/simple_exploration" value="$(arg simple_exploration)"/>
      <param name="TebLocalPlannerROS/weight_gap" value="0"/>
      <param name="TebLocalPlannerROS/gap_boundary_exponent" value="2" unless="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/feasibility_check_no_tebs" value="1" if="$(arg egocircle)"/>
      <param name="TebLocalPlannerROS/gap_theta_start" value="3.15"/>

      <!-- Disable the local costmap observation sources if they will not be used -->
      <param name="local_costmap/obstacle_layer/observation_sources" value="false" if="$(arg egocircle)"/>
  </node>





</launch>
