<launch>

    <param name="/use_sim_time" value="true"/>

    <node pkg="rosbag" type="record" name="timing_bag" output="screen"
    args="record -o /home/alex/simulation_data/experiment
    /clicked_point
    /initialpose
    /move_base_simple/goal
    /clock
    /cmd_vel_mux/active
    /cmd_vel_mux/input/navi
    /cmd_vel_mux/input/safety_controller
    /cmd_vel_mux/input/switch
    /cmd_vel_mux/input/teleop
    /cmd_vel_mux/parameter_descriptions
    /cmd_vel_mux/parameter_updates
    /depthimage_to_laserscan/parameter_descriptions
    /depthimage_to_laserscan/parameter_updates
    /gazebo/link_states
    /gazebo/model_states
    /gazebo/parameter_descriptions
    /gazebo/parameter_updates
    /gazebo/set_link_state
    /gazebo/set_model_state
    /joint_states
    /laserscan_nodelet_manager/bond
    /map
    /map_metadata
    /mobile_base/commands/motor_power
    /mobile_base/commands/reset_odometry
    /mobile_base/commands/velocity
    /mobile_base/events/bumper
    /mobile_base/events/cliff
    /mobile_base/sensors/bumper_pointcloud
    /mobile_base/sensors/core
    /mobile_base/sensors/imu_data
    /mobile_base_nodelet_manager/bond
    /odom
    /rosout
    /rosout_agg
    /scan
    /tf
    /tf_static
    "/>

    <!-- <include file="$(find nav_configs)/launch/gazebo_turtlebot_empty_room_20x20_world.launch"/> -->

</launch>